@import "./rose-pine.css";

* {
  background: @base;
  font-family: "Noto Sans", monospace;
  font-weight: 500;
  color: @text;
}
/**/
/* #memory { */
/*   color: @foam; */
/* } */
/**/
/* #temperature { */
/*   color: @rose; */
/* } */
