// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Global window rounded corners
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Pin apps to workspaces
window-rule {
    match app-id=r#"chrome-"# title="^Google Calendar"
    match app-id=r#"chrome-"# title="^Google Meet"
    match app-id="Slack"
    open-on-workspace "social"
}

// Maximized apps
window-rule {
    match app-id="Slack"
    match app-id="app.zen_browser.zen"
    open-maximized true
}

// Floating apps
window-rule {
    match app-id="org.gnome.Nautilus" title="^Open Files$" // Select computer file
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="org.gnome.Calculator"
    match app-id="org.gnome.World.Secrets"
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    open-floating true
}

// Mark screencasted window
window-rule {
    match is-window-cast-target=true
    focus-ring {
        width 4
        active-color "#d8647e"
    }
    shadow {
        on
        softness 8
        spread 6
        offset x=0 y=0
        color "#f38ba870"
    }
}

// Playwright browsers
window-rule {
    match app-id="chromium-browser"
    match title=r#"for Testing$"#
    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="top-right"
}
window-rule {
    match app-id="chromium-browser" is-active=false
    opacity 0.6
}

// Block out two password managers from screen capture and slack.
window-rule {
    match app-id="org.gnome.World.Secrets"
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id="Slack"
    block-out-from "screen-capture"
}

